
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.using-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* shared style all */

main>section{
    margin-top:130px;
}
.display-flex{
    display:flex;
    align-items: center;
}
/* dark-2 */
.text-gray{
    color:#424242;
}

/* dark-3 */
.text-light-gray{
    color: #727272;
}
.btn-primary{
    background-color:rgba(255, 144, 14, 1);
    border:none;
    border-radius:8px;
    color:white;
    padding:20px 25px;
    font-size:1.25rem;
    font-weight:600;
}
.large-text{
    font-size: 4rem;
    font-weight: bold;
}

main{
    max-width:1440px;
    margin: 0 auto;
}
.section-title{
 max-width:470px;
    height:105px;
    font-size:2.8rem;
  font-weight:600;
}

/* header style all */
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}



/* navbar style all */
.nav-item{
    list-style-type:none;
    margin-right:30px;
}
.brand{
    font-weight:700;
    font-size:3rem;
}
.nav-link{
    text-decoration:none;
}
.navbar{

    justify-content: space-around;
    align-items:center;
    font-weight:500;
}
.navbar,.banner{
    max-width:1600px;
    margin:0 auto;
    
}
/* banner related style  */
.banner-content{
    max-width:850px;
    margin:0 auto;
    text-align:center;
    margin-bottom:50px;
}
.banner-title{
    font-weight: bold;
    font-size:4rem;
}
.banner-image{
    width:100%;
}
/* team and features related styles */
.teams{
    align-items: center;
    
}
.navbar,
    .teams,
    .nav-links{
        display: flex;
    }
.our-features{
    margin-left:75px;
    max-width:530px;
}
.team-image-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:24px;
}
#quick{

color:rgba(114, 114, 114, 1);
}
#our{

color:rgba(19, 19, 19, 1);

}
#features{

color:rgba(255, 144, 14, 1);


}

.all-img{
    width:100%;
}
/* features mid section style */

.features{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:100px;
}
.first-part{
    margin:30px 54px 20px 0px;
    padding:20px 30px 20px 15px ;
    border-radius: 10px;

}
.common-part{
    background-color:rgba(255, 255, 255, 1);
    /* border:5px solid greenyellow; */
    margin:30px 54px 20px 0px;
    padding:20px 30px 20px 15px ;
    box-shadow: 0px 4px 12px rgba(249, 234, 176, 1);
    border-radius: 10px;
}
#features-section-title{
    border-left:5px solid rgba(255, 144, 14, 1);
   padding-left:20px;
}
#experiences-badge{
margin-left:-100px;
margin-top:-100px;
}

/* for last main section */
.facts-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    /* border:5px solid red; */
    gap:30px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    width: 100%;
    box-sizing: border-box;
}
.fact-card{
    border:3px solid rgba(255, 144, 14, 1);
    text-align: center;
    padding:45px 35px 60px 35px;
    height:180px;
    width:180px;
    
    border-radius: 8px;
   
    
}
.fact-description{
    max-width: 540px;
}
.fact-number{
    font-size: 2.80rem;
    font-weight:600;
    margin:5px 0px   10px 0px;
}
.fact-name{
    font-size:1.25rem;
    font-weight:600;
    margin-top:10px;
}

.sponsors-title{
    text-align:center;
}
.sponsors-description{
    margin:20px auto;
    max-width:540px;
    height:50px;
    color:rgba(114, 114, 114, 1);
    font-size: regular;
    /* border:4px solid purple; */
}
.sponsors-logo{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 50px;
/* sada kalo kor color picture ke */
filter: grayscale(100%);
   
}
.fotter{
    text-align: center;
    background-color:rgba(250, 240, 99, 1);
   line-height: 80px;
}
/* responsive start */

@media screen and (max-width: 576px) {
    .navbar,
    .teams,
    .nav-links {
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns:repeat(1,1fr);
    }
    .facts-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap:24px;
    }
    .sponsors-logo{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap:30px;
    margin-bottom: 50px;
   
}
.image-feautuers{
    width:90%;
    margin:15px;
}
.features{
    display:gird;
     grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap:30px;
    margin-bottom: 50px;

}
.common-part,.first-part{
    text-align:center;
    padding:20px;
    margin:0px auto;
}
#experiences-badge{
display:none;
}
}
/* medium device  */
@media screen and (min-width:575px) and (max-width:992px){
    .teams{
        flex-direction:column;
    }
    .our-features{
        margin-left: 50px auto;
    }
     .facts-container{
        
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap:50px;
        
}
.sponsors-logo{
   
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap:50px;
    
}
.image-feautuers{
    width:90%;
    margin:15px;
}
.features{
    display:gird;
     grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap:30px;
    margin-bottom: 50px;

}
.common-part,.first-part{
    text-align:center;
    padding:20px;
    margin:0px auto;
}
#experiences-badge{
margin-left:0px;
margin-top:0px;
}}
